/* Nav */
.nav-form-select{
    margin-right: 5px;
    border: 1px solid #ced4da;
    border-radius: .375rem;
    font-size: 1rem;
    font-weight: 400;
    color: rgb(118, 118, 118);
}
/* header part*/
body{
    margin-bottom: 50px;
}
.main{
    margin: 0 auto;
}

.header{
	display: flex;
    padding-top: 30px;
    padding-left: 20px;
}

.logo{
	width: 70px;
	height: 70px;
}

.head{
	padding-left: 15px;
	padding-top: 15px;
}

/* home page main part*/
.category{
    display: flex;
}

/*post form*/
.form_part{
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
} 

.form-select{
   margin-top: 40px;
}

.button{
    padding-top: 20px;
}

.form-label{
    font-weight: bolder;
}

.image-post{
    margin-top: 20px;
}

/* Movie page */
.card{
    margin:50px 20px;
    display: inline-block;
    width: 18rem;
    height: 19rem;
    vertical-align: top; 
    position: relative;
}

.action{
    position: absolute;
    left:15px;
    bottom: 1%;
}

.sort-part{
    padding-left: 20px;
    padding-top: 20px;
    width: 200px;
}

/* Review part */
.review-head{
    display: flex;
    padding-top: 30px;
    padding-left: 20px;
}

.review-count{  
    padding-left: 25px;
}

.subtitle{
    font-weight: bolder;
}

.movieImage{
    width: 150px;
	height: 190px;
}

/* Movie page */
